<section
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="300"
  (scrolled)="onScroll()"
>
  <div class="container" *ngIf="!error && characters">
    <div class="row justify-content-center">
      <div class="col-12 d-flex flex-wrap justify-content-center">
        <ng-container *ngFor="let character of characters">
          <a [routerLink]="['/characters/details', character?.id]">
            <div
              data-toggle="tooltip"
              data-placement="top"
              title="Clique para ver os detalhes"
              class="card mb-3"
              style="width: 13rem; margin: 10px"
            >
              <img
                class="card-img-top"
                [src]="character?.image"
                alt="Character Image"
              />
              <div class="card-body">
                <h5 class="card-title">{{ character?.name }}</h5>
              </div>
            </div>
          </a>
        </ng-container>
      </div>
    </div>
  </div>
</section>

<div *ngIf="error && !loading">
  <div class="alert alert-danger mt-5" role="alert">
    {{ error.message }}
    <p class="d-flex justify-content-center">
      Limpe o campo ou faça uma nova busca.
    </p>
  </div>
</div>


