<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col">
        <div class="card">
          <div class="row no-gutters">
            <div class="col">
              <img [src]="character.image" class="card-img" alt="Character Image">
            </div>
            <div class="col">
              <div class="card-body">
                <h2 class="card-title">{{ character.name }}</h2>
                <p class="card-text">
                  <strong>Origin:</strong> {{ character.origin.name}}
                </p>
                <p class="card-text">
                  <strong>Species:</strong> {{ character.species }}
                </p>
                <p class="card-text">
                  <strong>Status:</strong>
                  <span [ngClass]="{
                    'text-success': character.status === 'Alive',
                    'text-danger': character.status === 'Dead',
                    'text-muted': character.status === 'unknown'
                  }">
                    {{ character.status }}
                  </span>
                </p>
                <p class="card-text">
                  <strong>Location:</strong> {{ character.location.name }}
                </p>
              </div>
            </div>
            <div class="col info">
                <div class="card-body">
                    
                    <p class="card-text">
                      <strong>Gender:</strong> {{ character.gender }}
                    </p>
                    <p class="card-text">
                      <strong>Type:</strong> {{ character.type }}
                    </p>
                    <p class="card-text">
                      <strong>Created:</strong> {{ character.created }}
                    </p>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  