<section
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="300"
  (scrolled)="onScroll()"
>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 d-flex flex-wrap justify-content-center">
        @if (episodes$) { 
          @for (episode of episodes$;
        track $index) {
        <div class="card mb-3" style="width: 13rem; margin: 10px">
          <div class="card-body">
            <h5 class="card-title">{{ episode?.name }}</h5>
            <p class="card-text">Date: {{ episode?.airData }}</p>
            <p class="card-text">Episode: {{ episode?.episode }}</p>
            <p class="card-text">Create: {{ episode?.created }}</p>
          </div>
        </div>
      }
         }
      </div>
    </div>
  </div>
</section>

<div *ngIf="error">
  <div class="alert alert-danger mt-5" role="alert">
    {{ error.message }}
    <p class="d-flex justify-content-center">
      Limpe o campo ou faça uma nova busca.
    </p>
  </div>
</div>
